<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="UI/css/screen.css">
        <!--[if lt IE 9]>
            <link rel="stylesheet" href="UI/css/ie.css">
        <![endif]-->
        <title>Wesleyan</title>
        <!--[if lt IE 9]>
            <script src="UI/js/ie.js"></script>
        <![endif]-->
        <style type="text/css" media="screen">
            path {
                stroke: #575757;
                stroke-width: 2;
                shape-rendering:crispEdges;
                /*width: 1px;*/
                fill: none;
            }
            .area {
                fill: #8a86a0;
                stroke-width: 0;
            }
            text {
                font-size: 14px;
                fill: #ababab;
            }
            .state_rect {
                fill: #809b9a;
            }
            .occupation_rect {
                fill: #ff7323;
            }
            .private_rect {
                fill: #febd11;
            }
            #diagonalHatch path{
                stroke: #ff043d;
            }
            .shortfall_rect {
                fill: url(#diagonalHatch);
            }
            .marker-line {
                stroke: #575757;
                stroke-width: 2;
                /*stroke-dasharray: [3,3];*/
            }
        </style>
    </head>
    <body ng-app="app" ng-controller="AppCtrl" >
        <header>
            <div class="title">
                <img src="UI/images/logo.png">
            </div>
            <div class="info">
                <ul>
                    <li class="yellowMark"><a href="#">My Wesleyan</a></li>
                    <li><a href="#">Wesleyan Bank Online</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                <div class="clear"></div>
                <h3>Customer Relationship Center:</h3>
                <h2>0800 294 9909</h2>
                <p>Monday to Friday 8.30am - 6.30pm</p>
                <p>Saturday 9.00am - 2.00pm</p>
                <a href="#">Request a call back</a>
            </div>
            <ul class="panel">
                <li><a href="index.html"><img src="UI/images/home.png"></a></li>
                <li><a href="#">Retirement Planning Tool</a></li>
                <li class="print"><a href="#">Print / Save</a></li>
            </ul>
            <div class="text">
                <p>Please complete the information on the left and your results will instantly appear on the right. You can easily amend any details and the results will automatically update to show their impact on your retirement income.</p>
            </div>
        </header>
        <section class="main">
            <div class="container">
                <div class="bordered">
                    <div class="left-column">
                        <div class="bordered">
                            <fieldset>
                                <label>Name</label>
                                <input type="text" name="name" ng-model="name">
                            </fieldset>
                            <fieldset>
                                <label>Current age</label>
                                <input type="text" name="age" ng-model="age">
                            </fieldset>
                            <fieldset>
                                <label>Age career started</label>
                                <input type="text" name="age" value="30" disabled="">
                            </fieldset>
                            <fieldset>
                                <label>Current annual salary</label>
                                <input type="text" name="salary" ng-model="salary">
                            </fieldset>
                            <fieldset>
                                <label>How much do have you saved in private pension plans / ISA for retirement (&pound;)?</label>
                                <input type="text" name="saved_money" ng-model="saved_money">
                            </fieldset>
                            <fieldset>
                                <label>Average monthly payments into those private pension plans and ISAs until you retire (&pound;)?</label>
                                <input type="text" name="monthly_payments" ng-model="monthly_payments">
                            </fieldset>
                        </div>
                        <div class="bordered">
                            <div class="error" ng-show="retirement_age_error">{{ retirement_age_error }}</div>
                            <fieldset>
                                <label>Planned retirement age</label>
                                <div
                                    class="slider"
                                    slider
                                    ng-model="retirement_age"
                                    floor="50"
                                    ceiling="80"
                                    step="1"
                                    precision="0">
                                </div>
                            </fieldset>
                        </div>
                        <div class="bordered">
                            <div class="error" ng-show="increase_salary_error">{{ increase_salary }}</div>
                            <fieldset>
                                <label>How much do estimate your salary will increase by every 5 years before you retire (%)?</label>
                                <div
                                    class="slider"
                                    slider
                                    ng-model="increase_salary"
                                    floor="0"
                                    ceiling="100"
                                    step="1"
                                    precision="0">
                                </div>
                            </fieldset>
                        </div>
                        <div class="bordered">
                            <div class="error" ng-show="income_error">{{ income }}</div>
                            <fieldset>
                                <label>Desired annual retirement income (&pound;)</label>
                                <div
                                    class="slider"
                                    slider
                                    ng-model="income"
                                    floor="10000"
                                    ceiling="100000"
                                    step="1"
                                    precision="0">
                                </div>
                            </fieldset>
                        </div>

                            <button class="yellow-button">
                                Assumptions used for calculations >>
                            </button>
                    </div>
                    <div class="right-column">
                        <h3>{{ name }} Retirement Income Results</h3>

                        <div d3-chart data="d3Data" height="530" width="750"></div>

                        <div class="graph bordered"></div>
                        <div class="results" id="results">
                            <div class="colored bordered">
                                <p class="red">
                                    <span>Retirement shortfall</span> <em ng-hide="result_min_errors[0]">&pound;</em>{{ shortfall|number:2 }}
                                </p>
                                <div class="error" ng-show="result_min_errors[0]">{{ result_min_errors[0] }}</div>
                                <div class="bordered" style="padding-bottom: 20px;"></div>
                                <p class="grey">
                                    <span>Total annual retirement income:</span>&pound;{{ total|number:2 }}
                                </p>
                                <p class="yellow">
                                    <span>Private pension and isa plans (annual gross)</span> <em ng-hide="result_min_errors[1]">&pound;</em>{{ private_pension|number:2 }}
                                </p>
                                <div class="error" ng-show="result_min_errors[1]">{{ result_min_errors[1] }}</div>
                                <p class="orange">
                                    <span>Occupational pension scheme (annual gross)</span> <em ng-hide="result_min_errors[2]">&pound;</em>{{ occupational_pension|number:2 }}
                                </p>
                                <div class="error" ng-show="result_min_errors[2]">{{ result_min_errors[2] }}</div>
                                <p class="mud-green">
                                    <span>State pension (annual gross)</span> <em ng-hide="result_min_errors[3]">&pound;</em>{{ state_pension|number:2 }}
                                </p>
                                <div class="error" ng-show="result_min_errors[3]">{{ result_min_errors[3] }}</div>
                            </div>
                            <div class="bordered">
                                <p class="white">
                                    <span>25% tax free lump sum at retirement</span> <em ng-hide="result_min_errors[4]">&pound;</em>{{ free|number:2 }}
                                </p>
                                <div class="error" ng-show="result_min_errors[4]">{{ result_min_errors[4] }}</div>
                                <p class="white">
                                    <span>Your future career earnings are (in today's terms)</span> <em ng-hide="result_min_errors[5]">&pound;</em>{{ future_earnings|number:2 }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </section>
        <footer>
            <div class="banner bordered"></div>
            <p>&copy; 2014 Wesleyan Assurance Society</p>
        </footer>
        <script src="vendor/jspdf/dist/jspdf.min.js"></script>
        <script src="vendor/modernizr/modernizr.js"></script>
        <script src="vendor/angular/angular.js"></script>
        <script src="vendor/angular-touch/angular-touch.min.js"></script>
        <script src="vendor/venturocket-angular-slider/build/angular-slider.min.js"></script>
        <script src="vendor/d3/d3.min.js"></script>
        <script src="UI/js/app.js"></script>
        <!--[if lt IE 9]>
            <script src="UI/js/custom.ie.js"></script>
        <![endif]-->
    </body>
</html>
