// ---------------------------------------------------------------------------
// Background color
// ---------------------------------------------------------------------------
$bodyBackground:   #ffffff;
$widgetBackground: #ededed;
$bodyColor:        #214657;
$linkColor:        #bacb31;
$tipColor:         #000000;


@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400,300);
$webfont: "Open Sans", Helvetica;
// $fontFamily: $webfont, Arial, sans-serif;
$fontFamily: Tahoma, sans-serif;
