header {
    @include gridle(12);
    padding: 0 0 40px 0;
    .title {
        @include gridle(7);
        padding: 0;
        margin-top: 100px;
        font-size: 70px;
        font-weight: 100;
        @include gridle_state(tablet) {
            @include gridle(12);
            margin-top: 10px;
        }
        h1 {
            display: inline-block;
            @include gridle_state(tablet) {
                display: block;
                margin-bottom: 30px;
            }
        }
        span {
            font-size: 32px;
            font-weight: 300;
            vertical-align: middle;
            @include gridle_state(mobile) {
              font-size: 18px;
            }
        }
    }
    .info {
        @include gridle(5);
        @include gridle_state(tablet) {
            @include gridle(12);
            margin-top: 50px;
        }
        text-align: right;
        ul {
            float: right;
            li {
                float: left;
                padding-right: 14px;
                &:last-child {
                    padding-right: 0;
                }
                &.yellowMark {
                    background: url('../images/yellowTriangle.png') right no-repeat;
                    margin-right: 2px;
                }
                &::before {
                    content: "|";
                    padding-right: 10px;
                }
                a {
                    font-size: 12px;
                }
            }
        }
        h2 {
            font-size: 32px;
            margin-bottom: 10px;
        }
        p, a {
            font-weight: 500;
        }
        > a {
            text-decoration: underline;
        }
    }
    .panel {
        @include gridle(12);
        background-color: $dark;
        border-radius: 10px;
        margin-top: 40px;
        li {
            float: left;
            a {
                height: 30px;
                padding: 12px 20px 8px 30px;
                display: block;
                color: $yellow;
                font-weight: 700;
                letter-spacing: 1px;
                &:hover {
                    color: $dark;
                    background-color: $yellow;
                }
            }
            img {
                width: 70%;
            }
            &.print {
                float: right;
                a {
                    padding-right: 30px;
                    &:hover {
                        color: $yellow;
                        background: url('../images/document.png') right no-repeat;
                        background-size: 21px 24px;
                    }
                }
            }
        }
    }
    .text {
        @include gridle(12);
        border-radius: 10px;
        margin-top: 40px;
        background-color: rgba(0,0,0,0.05);
        padding: 14px 10px;
        p {
            font-weight: 500;
        }
    }
}

.main {
    @include gridle(12);
    padding-top: 60px;
    @include gridle_state(tablet) {
        padding-top: 0;
    }
    .container {
        h2 {
            color: $yellow;
            margin-bottom: 40px;
        }
    }
    .boxes {
        @include gridle_centered();
        .box {
            @include gridle(4);
            @include gridle_state(tablet) {
                @include gridle(6);
            }
            @include gridle_state(mobile) {
                @include gridle(12);
            }
            height: 234px;
            p {
                font-size: 18px;
                font-weight: 700;
                color: $dark;
                line-height: 1px;
                float: left;
                margin-top: 20px;
                letter-spacing: 1px;
            }
            span {
                margin-top: 10px;
                float: right;
                height: 20px;
                width: 20px;
                &.danger {
                    background: url('../images/danger.png') no-repeat;
                }
                &.warning {
                    background: url('../images/warning.png') no-repeat;
                }
                &.success {
                    background: url('../images/success.png') no-repeat;
                }
                &.start {
                    background: url('../images/start.png') no-repeat;
                }
                &.success, &.start, &.warning, &.danger {
                    background-size: cover;
                }
            }
        }
    }
    .left-column {
        @include gridle(4);
        border-right: 2px solid $grey;
        padding-right: 25px;
        @include gridle_state(mobile) {
            border-right: none;
            padding-bottom: 50px !important;
            border-bottom: 2px solid $grey;
        }
    }
    .right-column {
        @include gridle(8);
        padding-left: 28px;
        @include gridle_state(mobile) {
            margin-top: 40px;
        }
        h3 {
            text-transform: uppercase;
            .yellow {
                color: $yellow;
                font-weight: bold;
            }
        }
        .results {
            .colored {
                background-color: rgba(0,0,0,0.05);
                padding: 10px 20px;
                border-radius: 10px;
                border: none;
            }
            p {
                display: block;
                border: none;
                border-radius: 10px;
                padding: 12px 20px !important;
                margin: 20px 0;
                color: $white;
                font-weight: 700;
                text-align: right;
                span {
                    float: left;
                    text-align: left;
                    font-weight: 300;
                }
                &.red {
                    background-color: #ff0033;
                }
                &.yellow {
                    background-color: #ffcc00;
                }
                &.orange {
                    background-color: #ff6633;
                }
                &.mud-green {
                    background-color: #669999;
                }
                &.grey {
                    background-color: #666;
                }
                &.white {
                    border: 1px solid $black;
                    color: $black;
                }
            }
        }
    }
    .left-column, .right-column {
        @include gridle_state(tablet) {
            @include gridle(6);
        }
        @include gridle_state(mobile) {
            @include gridle(12);
        }
    }
    .form-to-left {
        padding: 40px 0;
        @include gridle_state(tablet) {
            padding-top: 0;
        }
        fieldset {
            @include gridle(2.4);
            position: relative;
            @include gridle_state(tablet) {
                @include gridle(6);
            }
            @include gridle_state(mobile) {
                @include gridle(12);
            }
            &#name {
                width: 25%;
                @include gridle_state(tablet) {
                    width: auto;
                }
                input {
                    width: 80%;
                    @include gridle_state(tablet) {
                        width: auto;
                    }
                }
            }
            &#age {
                width: 10%;
                @include gridle_state(tablet) {
                    width: auto;
                }
                input {
                    width: 40%;
                    @include gridle_state(tablet) {
                        width: auto;
                    }
                }
            }
            &#salary {
                width: 21%;
                @include gridle_state(tablet) {
                    width: auto;
                }
            }
            &#saved_money, &#monthly_payments {
                width: 22%;
                @include gridle_state(tablet) {
                    width: auto;
                }
            }
            label {
                display: block;
                position: absolute;
                line-height: 20px;
                bottom: 0;
                margin-bottom: 50px;
                padding-right: 10px;
                @include gridle_state(tablet) {
                    position: initial;
                    margin-bottom: 10px;
                }
            }
            input {
                width: 72%;
            }
        }
    }
    fieldset {
        width: 80%;
        margin-bottom: 10px;
        label {
            font-weight: 300;
        }
        input {
            border-radius: 10px;
            width: 100%;
            padding: 6px 20px;
            border: 1px solid $grey;
            font-size: 18px;
        }
    }
    .yellow-button {
        background-color: $yellow;
        color: $dark;
        font-weight: 500;
        font-size: 32px;
        border: none;
        border-radius: 10px;
        text-align: left;
        padding: 20px;
        @include gridle_state(tablet) {
            font-size: 22px;
        }
        @include gridle_state(mobile) {
            font-size: 16px;
        }
    }
}

footer {
    @include gridle(12);
    margin-bottom: 20px;
    p {
        font-size: 16px;
        color: $grey;
        float: right;
    }
    .banner {
        @include gridle(12);
        height: 200px;
        background: url('../images/banner.png') no-repeat;
        background-size: contain;
    }
}

// wigdet
.slider {
    @include gridle(12);
    display: inline-block;
    position: relative;
    height: 35px;
    margin-top: 45px;
    .input {
        &.low,
        &.selection {
            left: -9999px !important;
        }
    }
    span {
        &.full, &.steps {
            height: 4px;
            z-index: 0;
            top: 10px;
            left: 0;
            cursor: pointer;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            border-radius: 5px;
        }
        &.full {
            background: $grey;
        }
        &.steps {
            // background: $yellow;
            position: relative !important;
            // left: -5%;
            // width: 101.5px;
            // width: 0;
        }
        &.selection {
            background: $yellow;
            top: 10px;
            height: 4px;
        }
        &.pointer {
            cursor: pointer;
            width: 18px;
            height: 16px;
            background: url('../images/marker.png') no-repeat;
            background-size: contain;
            &.low {
                display: none !important;
            }
            // &.high {
            //     z-index: 99;
            // }
        }
        &.bubble {
            top: -52px;
            background: #565656;
            color: $white;
            padding: 0 6px;
            border-radius: 6px;
            margin: 10px 4px;
            min-width: 16px;
            text-align: center;
            &:after {
                content:"";
                background: url('../images/triangleBottom.png') top center no-repeat;
                position: absolute;
                top:100%;
                left:0%;
                right: 0%;
                height: 6px;
                text-align: center;
                overflow: visible;
            }
            &.floor, &.ceiling {
                opacity: 0 !important;
            }
            &.low,
            &.selection {
                display: none !important;
            }

        }
    }
}
