// ---------------------------------------------------------------------------
// Typo setup
// ---------------------------------------------------------------------------

$fontFamily: Arial, sans-serif;

// ---------------------------------------------------------------------------
// General
// ---------------------------------------------------------------------------
body {
    font-family: $fontFamily;
    color: $black;
    line-height: 32.5px;
    font-size: 18px;
    font-weight: 300;
    overflow-x: hidden;
    max-width: $width;
    margin: 0 auto;
    padding: 10px;
    @include gridle_state(tablet) {
        padding: 20px;
    }
}

textarea, input, button {
    outline: none;
}

a {
    -webkit-transition:all .1s ease-in-out;
    -moz-transition:all .1s ease-in-out;
    transition:all .1s ease-in-out;
    outline: none;
    text-decoration: none;
    color: $black;
    @include gridle_state(mobile) {
        font-size: 14px !important;
    }
}

h1 {
    font-size: 56px;
    font-weight: 600;
    letter-spacing: 1px;
    @include gridle_state(mobile) {
      font-size: 32px !important;
    }
}

h2 {
    font-size: 44px;
    margin-bottom: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 44px;
    @include gridle_state(tablet) {
        font-size: 32px !important;
    }
    @include gridle_state(mobile) {
        font-size: 18px !important;
    }

}

h3 {
    font-size: 22px;
    font-weight: 500;
    .yellow {
        color: $yellow;
    }
}

p {
    line-height: 24px;
    font-weight: 300;
    @include gridle_state(mobile) {
        font-size: 12px !important;
    }
}

li {
    list-style: none;
}

.title-text {
    ul {
        padding-left: 50px;
        li {
            list-style-type: disc;
        }
    }
}

strong {
    font-weight: bold;
}

img {
    max-width: 100%;
}

.bordered {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid $grey;
}
