<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../UI/css/screen.css">
        <script src="../vendor/jspdf/dist/jspdf.min.js"></script>
        <script src="../vendor/modernizr/modernizr.js"></script>
        <script src="../vendor/angular/angular.js"></script>
        <script src="../vendor/angular-touch/angular-touch.min.js"></script>
        <script src="../vendor/venturocket-angular-slider/build/angular-slider.min.js"></script>
        <!--[if lt IE 9]>
            <link rel="stylesheet" href="../UI/css/ie.css">
        <![endif]-->
        <title>Wesleyan</title>
        <!--[if lt IE 9]>
            <script src="../UI/js/ie.js"></script>
        <![endif]-->
    </head>
    <body ng-app="app">
        <header>
            <div class="title">
                <h1>Wesleyan </h1>|<span> we are all about you</span>
            </div>
            <div class="info">
                <ul>
                    <li class="yellowMark"><a href="#">My Wesleyan</a></li>
                    <li><a href="#">Wesleyan Bank Online</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                <div class="clear"></div>
                <h3>Customer Relationship Center:</h3>
                <h2>0800 294 9909</h2>
                <p>Monday to Friday 8.30am - 6.30pm</p>
                <p>Saturday 9.00am - 2.00pm</p>
                <a href="#">Request a call back</a>
            </div>
            <ul class="panel">
                <li><a href="/"><img src="../UI/images/home.png"></a></li>
                <li><a href="#">Retirement Planning Tool</a></li>
                <li class="print"><a href="#">Print / Save</a></li>
            </ul>
            <div class="text">
                <p>Please complete the information on the left and your results will instantly appear on the right. You can easily amend any details and the results will automatically update to show their impact on your retirement income.</p>
            </div>
        </header>
        <section class="main">
            <div class="container">
                <div class="left-column">
                    <div class="bordered">
                        <fieldset>
                            <label>Name</label>
                            <input type="text" name="name">
                        </fieldset>
                        <fieldset>
                            <label>Age</label>
                            <input type="text" name="age">
                        </fieldset>
                        <fieldset>
                            <label>Current annual salary</label>
                            <input type="text" name="salary">
                        </fieldset>
                        <fieldset>
                            <label>Current annual salary</label>
                            <input type="text" name="salary">
                        </fieldset>
                        <fieldset>
                            <label>How much do have you saved in private pension plans / ISA for retirement</label>
                            <input type="text" name="saved_money">
                        </fieldset>
                        <fieldset>
                            <label>Average monthly payments into those private pension plans and ISAs until you retire?</label>
                            <input type="text" name="monthly_payments">
                        </fieldset>
                    </div>
                    <div class="bordered">
                        <div class="error" ng-show="retirement_age_error">{{ retirement_age_error }}</div>
                        <fieldset>
                            <label>Planned retirement age</label>
                            <div
                                class="slider"
                                slider
                                ng-model="retirement_age"
                                floor="50"
                                ceiling="80"
                                step="1"
                                precision="0">
                            </div>
                        </fieldset>
                    </div>
                    <div class="bordered">
                        <div class="error" ng-show="increase_salary_error">{{ increase_salary }}</div>
                        <fieldset>
                            <label>How much do estimate your salary will increase by every 5 years before you retire (%) </label>
                            <div
                                class="slider"
                                slider
                                ng-model="increase_salary"
                                floor="0%"
                                ceiling="150%"
                                step="1"
                                precision="0">
                            </div>
                        </fieldset>
                    </div>
                    <div class="bordered">
                        <div class="error" ng-show="income_error">{{ income }}</div>
                        <fieldset>
                            <label>Desired annual retirement income &pound;</label>
                            <div
                                class="slider"
                                slider
                                ng-model="income"
                                floor="10,000"
                                ceiling="100,000"
                                step="1"
                                precision="0">
                            </div>
                        </fieldset>
                    </div>
                    <div class="bordered">
                        <button class="yellow-button">
                            Assumptions used for calculations >>
                        </button>
                    </div>
                </div>
                <div class="right-column">
                    <h3><span class="yellow">Joe Bloggs</span> Retirement Income Results</h3>
                    <div class="graph bordered"></div>
                    <div class="results" id="results">
                        <div class="colored bordered">
                            <p class="red">
                                <span>Retirement shortfall</span> <em ng-hide="result_min_errors[0]">&pound;</em>{{ personal_guaranteed }}
                            </p>
                            <div class="error" ng-show="result_min_errors[0]">{{ result_min_errors[0] }}</div>
                            <div class="bordered" style="padding-bottom: 20px;"></div>
                            <p class="yellow">
                                <span>Private pension and isa plans (annual gross)</span> <em ng-hide="result_min_errors[1]">&pound;</em>{{ personal_guaranteed }}
                            </p>
                            <div class="error" ng-show="result_min_errors[1]">{{ result_min_errors[1] }}</div>
                            <p class="orange">
                                <span>Occupational pension scheme (annual gross)</span> <em ng-hide="result_min_errors[2]">&pound;</em>{{ personal_guaranteed }}
                            </p>
                            <div class="error" ng-show="result_min_errors[2]">{{ result_min_errors[2] }}</div>
                            <p class="mud-green">
                                <span>State pension (annual gross)</span> <em ng-hide="result_min_errors[3]">&pound;</em>{{ personal_guaranteed }}
                            </p>
                            <div class="error" ng-show="result_min_errors[3]">{{ result_min_errors[3] }}</div>
                        </div>
                        <div class="bordered">
                            <p class="white">
                                <span>25% tax free lump sum at retirement</span> <em ng-hide="result_min_errors[4]">&pound;</em>{{ personal_guaranteed }}
                            </p>
                            <div class="error" ng-show="result_min_errors[4]">{{ result_min_errors[4] }}</div>
                            <p class="white">
                                <span>Your future career earnings are (in today's terms)</span> <em ng-hide="result_min_errors[5]">&pound;</em>{{ personal_guaranteed }}
                            </p>
                            <div class="error" ng-show="result_min_errors[5]">{{ result_min_errors[5] }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="banner bordered"></div>
            <p>&copy; 2014 Wesleyan Assurance Society</p>
        </footer>
        <script src="../UI/js/app.js"></script>
        <!--[if lt IE 9]>
            <script src="../UI/js/custom.ie.js"></script>
        <![endif]-->
    </body>
</html>
